* {
    box-sizing: border-box;
  }

header, footer  {
background-color: black;
color: lightsalmon;
font-size : 24px;
font-family: 'Roboto Condensed', sans-serif;
text-align: center;
padding: 1rem 0 1rem 0;
  }

main {
    min-height: 75vh;
}